/* select box */
.ant-select{
    border: none !important;
}

.ant-select-selection-item{
    font-family: "Montserrat", sans-serif !important;
    /*background-color: #262626 !important;*/
}

.dark .ant-select-selection-item{
    color: var(--darkBgSec) !important;
}

.dark .ant-select-selector{
    border: none !important;
    outline: none !important;
}

.ant-select-selection-placeholder, ::placeholder{
    color : #333333aa !important;
}

/*.ant-select-dropdown{*/
/*    background-color: #0f172a !important;*/
/*    border: none !important;*/
/*    outline: none !important;*/
/*}*/

label{
    font-size: 16px !important;
}

.avatar label{
    font-size: 14px !important;
}

/*input*/
.ant-input{
    /*font-weight: 500;*/
    color : var(--darkBgSec)
}

/*collapse*/
.ant-collapse,.ant-collapse-item, .ant-collapse-content{
    border: none !important;
    background: transparent !important;
}

.ant-collapse-content-box{
    padding: 0 !important;
    font-size: 15px;
}

.ant-collapse-header{
    display: none !important;
}



/* pagination */
.ant-pagination{
    display: flex !important;
    align-items: center;
    /*justify-content: center;*/
}

.ant-pagination :where(.ant-pagination-prev, .ant-pagination-next), .ant-pagination .ant-pagination-item {
    min-width: 35px !important;
    height: 35px !important;
    border: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif !important;
}

.ant-pagination :where(.ant-pagination-prev, .ant-pagination-next) button{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.ant-pagination :where(.ant-pagination-prev, .ant-pagination-next) button, .ant-pagination .ant-pagination-item a{
    color : #262626 !important;
}

.ant-pagination .ant-pagination-item-active{
    background-color: #2563EB !important;
}
.ant-pagination .ant-pagination-item-active a {
    color: #FFF !important;
}
.dark .ant-pagination .ant-pagination-item-active{
    background-color: #10B981 !important;
}

.dark .ant-pagination-item-ellipsis{
    color : rgba(255, 255, 255, 0.5) !important;
}

.dark .ant-pagination :where(.ant-pagination-prev, .ant-pagination-next) button, .dark .ant-pagination .ant-pagination-item a {
    color: #FFF !important;
}

.ant-pagination-simple-pager{
    color: #262626 !important;
    font-family: "Montserrat", sans-serif !important;
    height: 30px !important;
}

.dark .ant-pagination-simple-pager{
    color: #FFF !important;
}

.ant-pagination-simple-pager input{
    background-color: #2563EB !important;
    color : #FFF !important;
    border: none !important;
    outline: none !important;
}

.dark .ant-pagination-simple-pager input{
    background-color: #10B981 !important
}

.dark .ant-form-item-explain-error{
    color : #CF6679 !important;
}

/* modal */
.auth-modal .ant-modal-content{
    padding : 0 !important;
    overflow: hidden !important;
}

.auth-modal .modal-header{
    background-color: var(--cblue) !important;
    color : #FFF !important;
    padding: 16px 24px !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.dark .auth-modal .modal-header{
    background-color: var(--darkTer) !important;
}

/*upload*/
.ant-upload {
    width: 100% !important;
}

.ant-upload-list-item,.anticon-paper-clip svg{
    color: var(--cblue) !important;
}

.dark .ant-upload-list-item,.dark .anticon-paper-clip svg{
    color: var(--darkTer) !important;
}

.anticon-delete{
    color: rgba(255, 0, 0, 0.8) !important;
}

.avatar .ant-upload-wrapper{
    width: 150px !important;
    aspect-ratio: 1 / 1;
}

.avatar .ant-upload{
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 1 / 1 !important;  ;
}