:root{
    --darkBg: #090F13;
    --darkBgSec: #09192F;
    --darkHead: #5d97a9;
    --darkPara: #8babb8;
    --darkBtn: #7f5af0;
    --darkSec: #153B47;
    --darkTer: #10b981;
    --cBlue : #2563eb;
    --darkRed : #f85149;
}