@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "src/core/css/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .common-card{
    @apply bg-white shadow-md rounded-md max-w-lg p-5 dark:bg-slate-700 mx-auto w-full
  ;}

  .form-tlt{
    @apply font-semibold text-xl mb-1 dark:text-white text-darkBgSec text-center
  ;}

  label{
    @apply capitalize font-medium
  ;}

  .form-input{
    @apply p-2 rounded-md w-full outline-none mt-1 border border-black/30 select-none duration-200 text-darkBgSec
  ;}

  .form-input.input-error{
    @apply border-red-600 text-red-600 dark:text-yellow-400 dark:border-yellow-400
  ;}

  .error{
    @apply text-sm text-red-600 mt-1 dark:text-yellow-400
  ;}

  .api-error{
    @apply p-3 rounded-md bg-red-700 text-white flex items-center gap-2 my-5
  ;}

  .btn{
    @apply capitalize h-10 w-full flex items-center justify-center rounded-md text-white duration-200 border-transparent text-[16px] font-medium
  ;}

  .submit-btn{
    @apply btn !bg-cBlue hover:!bg-blue-500 dark:!bg-darkTer/70 dark:hover:!bg-darkTer
  ;}

  .delete-btn{
    @apply btn !bg-red-600 hover:!bg-red-500
  ;}

  .comment-btn{
    @apply w-full max-w-[150px] rounded-md text-sm h-9 border border-green-700 text-green-700 hover:bg-green-700 hover:text-white dark:border-gray-200 dark:text-gray-200 dark:hover:bg-gray-200 dark:hover:text-green-700 duration-200;}

  .submit-btn.disabled{
    @apply bg-gray-600 text-gray-400 dark:bg-gray-500 dark:text-gray-300 duration-200
  ;}

  .pws-btn{
    @apply absolute right-4 top-1/2 transform -translate-y-1/2 text-lg outline-none border-none text-gray-700 dark:text-gray-200
  ;}

  .card{
    @apply flex flex-col gap-3 tracking-wider p-5 shadow bg-white text-darkBgSec dark:text-white dark:bg-slate-700 rounded-md hover:shadow-xl duration-200 w-full h-full ;
  ;}

  .detail-card{
    @apply flex flex-col gap-3 tracking-wider
  ;}

  .reaction-btn{
    @apply text-blue-600 text-xl hover:scale-[1.2] duration-200
    dark:text-darkTer
  ;}

  .paginate-btn{
    @apply h-8 max-w-[100px] w-full bg-cBlue dark:bg-darkTer rounded-md text-white text-sm hover:bg-blue-500 dark:hover:bg-darkTer/80 duration-200
  ;}

  .paginate-btn-disabled{
    @apply bg-gray-400 dark:bg-gray-500 text-gray-300 dark:text-gray-400 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-gray-300 hover:dark:text-gray-400
    duration-200 cursor-not-allowed
  ;}

  .form-label{
    @apply font-medium dark:text-white text-darkBgSec capitalize
  }

  /* verification form */
  .otp-form {
    @apply flex justify-between
    ;
  }

  .otp-form input {
    @apply !w-12  h-12 rounded text-black text-center outline-none border border-[#14224A] caret-black
    ;
  }

 .modal-trigger{
   @apply px-5 py-2 border rounded-md text-sm border-blue-600 text-blue-600 hover:bg-cBlue hover:text-white dark:border-darkTer dark:text-darkTer dark:hover:bg-darkTer dark:hover:text-white duration-200
 }

  .dPrimary{
    @apply bg-gray-600 text-gray-400 dark:bg-gray-500 dark:text-gray-300 duration-200 border-gray-600 dark:border-gray-500 disabled:hover:bg-gray-600 cursor-not-allowed
  }

  .dOutline{
    @apply border-gray-400 text-gray-400 dark:border-gray-500 dark:text-gray-400 duration-200 cursor-not-allowed
  }

}

*{
  font-family: "Montserrat", "sans-serif";
}

/*notification*/
.ant-notification-notice-message{
  font-family: "Montserrat", "sans-serif" !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

